html { 
    background: url(header1.jpg) no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    }

body{
        font-variant: capitalize;
    }

.btn{
    background-color: darkmagenta;
    border-radius: 10px;
}

.column {
    float: right;
    width: 50%;

  }


   